<style>
	

	.light {
		box-sizing: content-box;
		max-width: 65.3333333333rem;
		height: 0;
		margin-top: -.21111111111rem;
		border-top: 0;
		border-right: 0;
		border-bottom: 1px solid silver;
		border-left: 0;
	}

	.eogroup {
		margin-bottom: 2rem;
	}

	.more_light {
		box-sizing: content-box;
		max-width: 65.3333333333rem;
		height: 0;
		margin: 1.1111111111rem auto;
		border-top: 0;
		border-right: 0;
		border-bottom: 1px solid lightgray;
		border-left: 0;

	}

	.rendering_researchoutput .subheader {
		color: #000;
	}

	.rendering_researchoutput_portal-short .title {
		text-align: left;
		white-space: pre-wrap; /* CSS3 */
		white-space: -moz-pre-wrap; /* Firefox */
		white-space: -o-pre-wrap; /* Opera 7 */
		word-wrap: break-word; /* IE */
	}

	p:empty {
		display: none;
	}

	.rendering_researchoutput p {
         display: inline;
	}
	.rendering_researchoutput_portal-short span {
		/*white-space:nowrap;*/
		display: inline-block;
	}

	.rendering_researchoutput_portal-short span > p {
		white-space: nowrap;
		/*display: inline-block;*/
	}

	.rendering_researchoutput_portal-short p {
		white-space: nowrap;
		/*display: inline-block;*/
	}

	.rendering_researchoutput_portal-short h2 {

	}

	.type_family {
		padding-right: 0.2rem;
	}

	.type_parent_sep {
		padding-left: 0.2rem;
		padding-right: 0.2rem;
	}


	.tx_univiepure .contenttable {
		border: 0px;

	}

	.tx_univiepure .contenttable th {
		background: #e6e6e6;
		color: #0a0a0a;
		border: 0px;
		padding: 0;
		text-align: left;
		min-width: 15rem;
	}

	.tx_univiepure .contenttable td {
		background: #e6e6e6;
		color: #0a0a0a;
		text-align: left;
		padding: 0;
		border: 0px;
	}

	.tx_univiepure .contenttable tr {
		width: max-content;
		display: block;
	}

	.tx_univiepure .relations {
		table-layout: fixed;
		list-style: none;
		margin-left: 0;
	}

	.tx_univiepure .digital_object_identifiers {
		margin-left: 0;
	}

	.tx_univiepure .rendering_inline {
		margin-left: 0;
	}


</style>

<div class="tx-univie-pure">
	<f:render section="main" />
</div>
