{namespace u=Univie\UniviePure\ViewHelpers}
<f:layout name="Default" />
<f:section name="main">
	<f:flashMessages />

	<script>$(function(){
		$(".rendering a").attr("target","_blank");
		$(".c-link--inline").attr("target","_self");
	});
	</script>
	<div class="tx_univiepure" >
		<f:if condition="{error}">
			<f:then>
			</f:then>
			<f:else>
				<div class="content-element-margin-small">
					<f:if condition="{settings.showSearchForm}">
						<f:then>
							<div class="c-section">
								<div class="c-events-search">
									<div class="c-events-search__filter-wrap o-shaded--bg o-small-padding">

										<f:form method="POST" class="form-horizontal" action="listHandler">
											<div class="col-sm-8 col-xs-12  col-md-8" style="width:100%;display:flex;justify-content : flex-start; ">
												<f:form.textfield id="filter" class="c-events-search__text" type="text" name="filter" value="{filter}" placeholder='<f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.searchForm" />'/>
												<f:form.button type="submit" value="" class="c-events-search__submit">
													<f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.searchSubmit" />
												</f:form.button>
											</div>
										</f:form>
									</div>
								</div>
							</div>
						</f:then>
					</f:if>

					<f:if condition="{what_to_display} == 'PUBLICATIONS' ">
					<f:then>
							<f:if condition="{paginator.paginatedItems}">
								<f:then>
									<f:render partial="Pure/Publications" arguments="{pagination:pagination, paginator:paginator, publications:paginator.paginatedItems}"/>
								</f:then>
							</f:if>
						</f:then>
					</f:if>

					<f:if condition="{what_to_display} == 'PROJECTS' ">
						<f:then>
							<f:if condition="{paginator.paginatedItems}">
								<f:then>
									<f:render partial="Pure/Projects" arguments="{pagination:pagination, projects:paginator.paginatedItems}"/>
								</f:then>
							</f:if>
						</f:then>
					</f:if>


					<f:if condition="{what_to_display} == 'EQUIPMENTS' ">
						<f:then>
							<f:if condition="{paginator.paginatedItems}">
								<f:then>
									<f:render partial="Pure/Equipments" arguments="{pagination:pagination, equipments:paginator.paginatedItems}"/>
								</f:then>
							</f:if>
						</f:then>
					</f:if>

					<f:if condition="{what_to_display} == 'DATASETS' ">
						<f:then>
							<f:if condition="{paginator.paginatedItems}">
								<f:then>
									<f:render partial="Pure/DataSets" arguments="{pagination:pagination, dataSets:paginator.paginatedItems}"/>
								</f:then>
							</f:if>
						</f:then>
					</f:if>

				</div>
			</f:else>
		</f:if>
	</div>

</f:section>
