

<div class="tx-univie-pure publication">

	<h1 class="content-element-margin"><f:format.raw>{publication.title.value}</f:format.raw></h1>
	<!-- -> f:format.stripTags(allowedTags: "<sub><sup>") for v8.x++ -->
	<!-- supervisors -->
	<f:if condition="{publication.subTitle}">
		<f:then>
			<h2 class="content-element-margin"><f:format.raw>{publication.subTitle.value}</f:format.raw></h2>
		</f:then>
	</f:if>
	<dl>
		<!-- AUTHORS -->
		<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.authors" /></dt>
		<dd class="col-sm-9 content-element-margin-small">
			<f:for each="{publication.personAssociations}" as="person" iteration="persIter">
				<f:if condition="{person.authorCollaboration}">
					<f:if condition="{lang} == 'de_DE' ">
						<f:then>
							<f:if condition="{person.authorCollaboration.name.text.1.value} != '' ">
								<f:then>
									{person.authorCollaboration.name.text.1.value}
								</f:then>
								<f:else>
									{person.authorCollaboration.name.text.0.value}
								</f:else>
							</f:if>
						</f:then>
						<f:else>
							{person.authorCollaboration.name.text.0.value}
						</f:else>
					</f:if>
				</f:if>
				{person.name.firstName} {person.name.lastName}<f:if condition="{persIter.isLast}"><f:else>, </f:else></f:if>
			</f:for>
		</dd>


		<!-- supervisors -->
		<f:if condition="{publication.supervisors}">
			<f:then>
				<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.supervisors" /></dt>
				<dd class="col-sm-9 content-element-margin-small">
					<f:for each="{publication.supervisors}" as="person" iteration="persIter">{person.name.firstName} {person.name.lastName}<f:if condition="{persIter.isLast}"><f:else>, </f:else></f:if>
					</f:for>
				</dd>
			</f:then>
		</f:if>


		<!-- ABSTRACT -->
		<f:if condition="{publication.abstract.text}">
			<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.abstract" /></dt>
			<f:if condition="{lang} == 'de_DE' ">
				<f:then>
					<f:if condition="{publication.abstract.text.1.value} != '' ">
						<f:then>
							<dd class="col-sm-9 content-element-margin-small"><f:format.html>{publication.abstract.text.1.value}</f:format.html></dd>
						</f:then>
						<f:else>
							<dd class="col-sm-9 content-element-margin-small"><f:format.html>{publication.abstract.text.0.value}</f:format.html></dd>
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					<f:if condition="{publication.abstract.text.0.value} != '' ">
						<f:then>
							<dd class="col-sm-9 content-element-margin-small"><f:format.html>{publication.abstract.text.0.value}</f:format.html></dd>
						</f:then>
						<f:else>
							<dd class="col-sm-9 content-element-margin-small"><f:format.html>{publication.abstract.text.1.value}</f:format.html></dd>
						</f:else>
					</f:if>
				</f:else>
			</f:if>
		</f:if>

		<!-- Internal UNITS -->
		<f:if condition="{publication.organisationalUnits.0.name.text}">
			<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.units" /></dt>
			<f:if condition="{lang} == 'de_DE'">
				<f:then>
					<dd class="col-sm-9 content-element-margin-small">
						<f:for each="{publication.organisationalUnits}" as="unit" iteration="unitIter">
							{unit.name.text.1.value} <br>
						</f:for>
					</dd>
				</f:then>
				<f:else>
					<dd class="col-sm-9 content-element-margin-small">
						<f:for each="{publication.organisationalUnits}" as="unit" iteration="unitIter">
							{unit.name.text.0.value} <br>
						</f:for>
					</dd>
				</f:else>
			</f:if>
		</f:if>

		<!-- ext. UNITS -->
		<f:if condition="{publication.externalOrganisations.0.name.text}">
			<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.extunits" /></dt>

			<dd class="col-sm-9 content-element-margin-small">

				<f:if condition="{lang} == 'de_DE'">
					<f:then>
						<f:for each="{publication.externalOrganisations}" as="unit" iteration="unitIter">
							<f:if condition="{unit.name.text.1.value} != '' ">
								<f:then>
									{unit.name.text.1.value} <br>
								</f:then>
								<f:else>
									{unit.name.text.0.value} <br>
								</f:else>
							</f:if>
						</f:for>
					</f:then>
					<f:else>
						<f:for each="{publication.externalOrganisations}" as="unit" iteration="unitIter">
							<f:if condition="{unit.name.text.0.value} != '' ">
								<f:then>
									{unit.name.text.0.value} <br>
								</f:then>
								<f:else>
									{unit.name.text.1.value} <br>
								</f:else>
							</f:if>
						</f:for>
					</f:else>
				</f:if>
			</dd>

		</f:if>

		<!-- TYPE -->
		<dt><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.type" /></dt>
		<f:if condition="{lang} == 'de_DE'">
			<f:then>
				<dd>{publication.type.term.text.1.value}</dd>
			</f:then>
			<f:else>
				<dd>{publication.type.term.text.0.value}</dd>
			</f:else>
		</f:if>

		<!-- JOURNAL -->
		<f:if condition="{publication.journalAssociation.title.value}">
			<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.journal" /></dt>
			<dd class="col-sm-9">{publication.journalAssociation.title.value}</dd>
		</f:if>

		<!-- JOURNAL VOLUME -->
		<f:if condition="{publication.volume}">
			<f:then>
				<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.volume" /></dt>
				<dd class="col-sm-9">{publication.volume}</dd>
			</f:then>
		</f:if>

		<!-- JOURNAL PAGES -->
		<f:if condition="{publication.pages}">
			<f:then>
				<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.pages" /></dt>
				<dd class="col-sm-9">{publication.pages}</dd>
			</f:then>
		</f:if>

		<!-- NO. OF PAGES -->
		<f:if condition="{publication.numberOfPages}">
			<f:then>
				<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.numberOfPages" /></dt>
				<dd class="col-sm-9 content-element-margin-small">{publication.numberOfPages}</dd>
			</f:then>
		</f:if>

		<!-- ISSN -->
		<f:if condition="{publication.journalAssociation.issn}">
			<f:then>
				<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.issn" /></dt>
				<dd class="col-sm-9">{publication.journalAssociation.issn.value}</dd>
			</f:then>
		</f:if>


		<!-- DATE -->
		<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.publicationDate" /></dt>
		<dd class="col-sm-9">
			<f:for each="{publication.publicationStatuses}" as="status" iteration="unitIter">
				<f:if condition="{status.current} == 'true'"><f:then><f:if condition="{status.publicationDate.month}"><f:then><f:if condition="{status.publicationDate.day} != '' "><f:format.padding padLength="2" padString="0" padType="left">{status.publicationDate.day}</f:format.padding>.</f:if><f:format.padding padLength="2" padString="0" padType="left">{status.publicationDate.month}</f:format.padding>.<f:format.padding padLength="2" padString="0" padType="left">{status.publicationDate.year}</f:format.padding></f:then><f:else>{status.publicationDate.year}</f:else></f:if></f:then></f:if>
			</f:for>
		</dd>

		<!-- STATUS -->
		<f:if condition="{publication.publicationStatuses.0.publicationStatus.term.text}">
			<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.publicationStatus" /></dt>
			<dd class="col-sm-9">
				<f:for each="{publication.publicationStatuses}" as="status" iteration="unitIter">
					<f:if condition="{status.current} == 'true'">
						<f:then>
							<f:if condition="{lang} == 'de_DE'">
								<f:then>
									{status.publicationStatus.term.text.1.value}
								</f:then>
								<f:else>
									{status.publicationStatus.term.text.0.value}
								</f:else>
							</f:if>
						</f:then>
					</f:if>
				</f:for>
			</dd>

		</f:if>

		<!-- PEER REVIEW -->
		<f:if condition="{publication.peerReview}">
			<f:then>
				<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.peerReviewed" /></dt>
				<dd class="col-sm-9 content-element-margin-small">
					<f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.peerReviewed-true" />
				</dd>
			</f:then>
		</f:if>

		<!-- KEYWORDS -->
		<f:if condition="{publication.keywordGroups}">
			<f:then>
				<f:for each="{publication.keywordGroups}" as="keywordsGroup">
					<f:if condition="{keywordsGroup.keywordContainers.0.structuredKeyword.term.text}">
						<f:then>
							<f:if condition="{lang} == 'de_DE'">
								<f:then>
									<dt class="col-sm-3">{keywordsGroup.type.term.text.1.value}</dt>
									<dd class="col-sm-9 content-element-margin-small">
										<f:for each="{keywordsGroup.keywordContainers}" as="container" iteration="keywordIter">
											{container.structuredKeyword.term.text.1.value}<f:if condition="{keywordIter.isLast}"><f:else>, </f:else></f:if>
										</f:for>
									</dd>
								</f:then>
								<f:else>
									<dt class="col-sm-3">{keywordsGroup.type.term.text.0.value}</dt>
									<dd class="col-sm-9 content-element-margin-small">
										<f:for each="{keywordsGroup.keywordContainers}" as="container" iteration="keywordIter">
											{container.structuredKeyword.term.text.0.value}<f:if condition="{keywordIter.isLast}"><f:else>, </f:else></f:if>
										</f:for>
									</dd>
								</f:else>
							</f:if>
						</f:then>
					</f:if>
				</f:for>
			</f:then>
		</f:if>

		<!-- ELECTRONIC VERSION -->
		<f:if condition="{publication.electronicVersions}">
			<dt class="col-sm-3"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.electronicVersions" /></dt>
			<dd class="col-sm-9 content-element-margin-small">
				<f:for each="{publication.electronicVersions}" as="electronicVersion">
					<f:if condition="{electronicVersion.link}">
						<a href="{electronicVersion.link}" target="_blank">{electronicVersion.link}</a> (<f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.electronicVersionsAccess" />
						<f:if condition="{lang} == 'de_DE'">
							<f:then>
								{electronicVersion.accessType.term.text.1.value})<br>
							</f:then>
							<f:else>
								{electronicVersion.accessType.term.text.0.value})<br>
							</f:else>
						</f:if>

					</f:if>
					<f:if condition="{electronicVersion.doi}">
						<a href="{electronicVersion.doi}" target="_blank">{electronicVersion.doi}</a> (<f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.electronicVersionsAccess" />
						<f:if condition="{lang} == 'de_DE'">
							<f:then>
								{electronicVersion.accessType.term.text.1.value})<br>
							</f:then>
							<f:else>
								{electronicVersion.accessType.term.text.0.value})<br>
							</f:else>
						</f:if>
					</f:if>
				</f:for>
			</dd>
		</f:if>

		<!-- PORTAL URL -->
		<f:if condition="{settings.linkToPortal}">
			<dt class="col-sm-3"><f:format.htmlentitiesDecode>&nbsp;</f:format.htmlentitiesDecode>

			</dt>
			<dd class="col-sm-9 content-element-margin-small">
				<f:if condition="{publication.info.portalUrl}">
					<p class="type" style="margin-top:1rem">
					<f:link.external uri="{publication.info.portalUrl}" target="_blank" class="c-button u-icon-after u-icon-after--new-tab"><f:translate key="LLL:EXT:univie_pure/Resources/Private/Language/locallang.xlf:univiepur.publication.portalUrlLong" /></f:link.external>
					</p>
				</f:if>

		</f:if>



	</dl>

</div>
